<h1>Overview of 510(k)</h1>
<p>
	On May 28th 1976, Congress enacted medical device amendments to the Federal Food, Drug and Cosmetic Act which required FDA to classify all medical devices that were legally on the market at that time. The advisory panel at FDA identified 1700 different types of medical devices and subsequently grouped them into 19 medical specialty areas. The classification of medical devices is found in the code of Federal Regulations 21CFR sections 862 through 892.  Since then, the pre-market review of medical devices was required in United States. This pre-market notification program is also known as 510(k) program.
</p>

<h1> What is 510(k) </h1>

	<p>A 510(k) is a pre-market notification for medical devices. It is a submission by medical device manufacturers or distributors to FDA for marketing clearance. The name derives from section 510(k) of the Federal Food, Drug, and Cosmetic act and the regulations are found in 21CFR, part 807 and subpart E. The 510(k) process allows FDA to determine substantial equivalence of a device compared to current ones on the market.
	</p>
